<% title "editing snippet: #{@snippet.name}" %>

<div class="kiwibox">
  <div class="ribbon">editing snippet: <%= @snippet.name %></div>

  <%= render 'form' %>

  <%= link_to 'Show', @snippet %> |
  <%= link_to 'Back', snippets_path %>
</div>

