<header id="header">
  <div class="left">
    <%= link_to "kiwi.", root_path, class: "logo" %><br />
    <span class="description">a web snippet love affair.</span>
  </div>

  <% if can? :manage, Snippet %>
    <div class="actions">
      <%= link_to "new snippet", new_snippet_path, class: "green button" %>
    </div>
  <% end %>

  <div class="clear"></div>
</header>
