<div class="well">
  <ul class="nav nav-list">
    <% @categories.each do |cat| %>
      <li class="nav-header">
        <%= cat %>
      </li>
      <li>
        <% Snippet.where(category: cat).each do |snip| %>
          <%= link_to snip.name, snip %>
        <% end %>
      </li>
    <% end %>
    <% if @snippet_count == 0 %>
      <li>nothing to see here yet. how's about you go create some snippets?</li>
    <% end %>
  </ul>
</div>
