<nav id="nav">
  <% @categories.each do |cat| %>
    <span><%= cat %></span>

    <% Snippet.where(category: cat).each do |snip| %>
      <%= link_to snip.name, snip %>
    <% end %>

    <% unless cat == @categories.last %><hr /><% end %>

  <% end %>
  <% if @snippet_count == 0 %>
    <span>nothing to see here yet. how's about you go create some snippets?</span>
  <% end %>
</nav>
