@mixin antialias {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: quatro-slab, serif;
  font-weight: bold;
  color: #181818;
  line-height: 1.25;
  @include antialias;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 36px; font-size: 3.6rem; margin-bottom: 12px;}
h2 { font-size: 25px; font-size: 2.5rem; margin-bottom: 9px; }
h3 { font-size: 18px; font-size: 1.8rem; margin-bottom: 9px; }
h4 { font-size: 21px; font-size: 2.1rem; margin-bottom: 3px; }
h5 { font-size: 18px; font-size: 1.8rem; font-weight: normal; margin-bottom: 3px;  }
h6 { font-size: 15px; font-size: 1.5rem; font-weight: normal; }

@media handheld, only screen and (max-width: 767px) {
  h1 { font-size: 32px; font-size: 3.2rem; line-height: 1.3; }
  h2 { font-size: 28px; font-size: 2.8rem; line-height: 1.3; }
  h3 { font-size: 21px; font-size: 2.1rem; line-height: 1.3; }
  h4 { font-size: 18px; font-size: 1.8rem; line-height: 1.2; }
  h5 { font-size: 16px; font-size: 1.6rem; line-height: 1.2; }
  h6 { font-size: 15px; font-size: 1.5rem; line-height: 1.2; }
  body, p {  font-size: 15px; font-size: 1.5rem; line-height: 1.4; }
}

pre, code, .mono {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 12px;
  font-size: 1.2rem;
}

